 $primary-color : #00f;
 $blue-color:#25C2D0;
 $green-color: #64B44E;
 $gray-color:#ccc;
 .clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }
 * html .clearfix             { zoom: 1; } /* IE6 */
 *:first-child+html .clearfix { zoom: 1; } /* IE7 */

 .blue {
     background-color: $blue-color;
 }
 .green {
    background-color:$green-color !important;
}
.gray {
    background-color: $gray-color;
}
.accordion {
  border-radius: 3px;
  .padding {
    padding: 2%;
  }
}

.accordion-header {
  line-height: 20px;
  border-bottom: 1px solid #D4D0D0;
  padding: 10px;
}
.accordion-section {
  width: 95%;
  float: right;
  background: #fff;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(107, 99, 107, 0.7);
  -moz-box-shadow: 0px 0px 5px -1px rgba(107, 99, 107, 0.7);
  box-shadow: 0px 0px 5px -1px rgba(107, 99, 107, 0.7);
}

.accordion-section-title {
  padding: 8px 15px;
  transition: all linear 0.15s;
  font-size: 1.200em;
  color: #A2A2A2;

  .icon {
    float: right;
    height: 20px;
    width: 20px;
    padding-right: 1px;
    color: $primary-color;
    font-size: inherit;
  }
}
@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}


@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
.accordion-section-content {
  position: relative;
  padding:1%;
  overflow: auto;
  border-top: 0;
  display: none;
  @at-root .open & {
    display: block;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-name: fadeIn;
    animation-duration: 1s;
  }
}

.accordion-footer {
  background-color: #F6F6F6;
}


.left-progress-bar{
  width: 5%;
  float: left;
  padding-top: 20px;
  .node {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    transition: all 100ms ease;

    .status {
      color: white;
      font-size: 60%;
      height: 100%;
      margin: 5px 5px;
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      width: 50%;
      text-align: center;
    }
  }

  .activated {
    box-shadow: 0px 0px 3px 2px rgba(194, 255, 194, 0.8);
  }

  .divider {
    position: absolute;
    background: white;
    height: 40px;
    width: 6px;
    margin-left: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: all 0.5s ease;
  }
}
